

.title {
    color: #030;
    text-align: center;
    position: 30px 0;
}

.navigation {
    text-align: center;
}

.menu__list {
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 0;
    display: inline-block;

}

.menu__list__item {
    display: inline-block;
    font-size: 18px;
    position: relative;
}

.menu__list__link,
.sub-menu__link {
    text-decoration: none;
    color: red;
    display: block;
    padding: 10px 15px;
    background-color: #9c9;
    font-weight: bold;
}

.menu__list__link:hover,
.sub-menu__link:hover {
    background-color: #3c3;
    transition: all .3s ease-in;
}

.sub-menu {
    position: absolute;
    list-style: none;
    left: -41px;
    width: 200px;
    display: none;
}

.sub-menu__item {
    display: list-item;
}

.menu__list__item:nth-child(3):hover .sub-menu{
    display: block;
}